@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* begin manrope*/
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('/fonts/Manrope-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
    /*end manrope*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Manrope, sans-serif;
}


::-webkit-scrollbar {
    height: 14px !important;
}

.pagination {
    display: flex;
    align-content: center;
    justify-content: end;
    gap: 10px;
}

.page-link {
    padding: 10px 15px !important;
    border: 1px solid #ddd !important;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}
.dark .page-item.active .page-link{
    border: 1px solid rgba(255,255,255, 0.3) !important;
    background: rgba(255,255,255, 0.3) !important;
}
.page-item.active .page-link{
    background: #F4C107 !important;
    border-color: #F4C107 !important;
}
.page-item.disabled .page-link{
    opacity: 0.5 !important;
}

@media (max-width: 920px) {
    .pagination {
        flex-wrap: wrap;
    }
}